modules = ["nodejs-20", "web"]
run = "next build && next start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80